<div class="flex justify-center" <%= tag.attributes(@data.except(:action)) %>>
  <div role="tablist" class="tabs tabs-box relative w-fit">
    <input
      type="radio"
      name="<%= @name %>"
      role="tab"
      value="monthly"
      class="tab px-8"
      aria-label="Monthly"
      <%= "checked" if monthly_checked? %>
      <%= "data-action=#{data_action_attr}" if data_action_attr %>>
    <input
      type="radio"
      name="<%= @name %>"
      role="tab"
      value="yearly"
      class="tab px-8"
      aria-label="Yearly"
      <%= "checked" if yearly_checked? %>
      <%= "data-action=#{data_action_attr}" if data_action_attr %>>
    <% if @show_badge %>
      <span class="badge badge-success absolute -end-10 -top-2"><%= @badge_text %></span>
    <% end %>
  </div>
</div>

<% if price_display? %>
  <%= price_display %>
<% end %>
